<p id="notice"><%= notice %></p>

<h1>Instructors</h1>

<table>
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.lastname %></td>
        <td><%= instructor.firstname %></td>
        <td><%= instructor.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
