<footer class="footer">
  <small>
    The <a href="https://quiet-falls-41683.herokuapp.com">Course Catalog App</a>
    by <a href='#'>Erica Chai</a>
  </small>
  <nav>
    <ul>
      <li>My Other Sites: <a href="http://www.tedxbrandeis.com/">TEDxBrandeis</a></li>
    </ul>
  </nav>
</footer>
